# VS files
System/Source/Jaytas.Omilos/.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Obj Folder
System/Source/Jaytas.Omilos/Caching/bin/
System/Source/Jaytas.Omilos/Caching/Obj/

System/Source/Jaytas.Omilos/Common/bin/
System/Source/Jaytas.Omilos/Common/Obj/

System/Source/Jaytas.Omilos/Data/bin/
System/Source/Jaytas.Omilos/Data/Obj/

System/Source/Jaytas.Omilos/Logging/bin/
System/Source/Jaytas.Omilos/Logging/Obj/

System/Source/Jaytas.Omilos/Messaging/bin/
System/Source/Jaytas.Omilos/Messaging/Obj/

System/Source/Jaytas.Omilos/Security/bin/
System/Source/Jaytas.Omilos/Security/Obj/

System/Source/Jaytas.Omilos/ServiceClient/bin/
System/Source/Jaytas.Omilos/ServiceClient/Obj/

System/Source/Jaytas.Omilos/Web/bin/
System/Source/Jaytas.Omilos/Web/Obj/